@model iotDash.Models.DeviceViewModel

@{
    ViewBag.Title = "DeviceMenu";
}

<div class="container-fluid">
    <div class="row">
            <div class="col-md-8">
            </div>

            <div class="col-md-1">
                <a class="btn btn-default" href="#" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

            <div class="col-md-1">
                <a class="btn btn-default" href="#" role="button">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <div class="col-md-1">
                <a class="btn btn-default" href="#" role="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>

            <div class="col-md-1">

            </div>
    </div>
</div>

