<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.3.2" targetFramework="monoandroid60" />
  <package id="NLog.Config" version="4.3.2" targetFramework="monoandroid60" />
  <package id="NLog.Schema" version="4.3.0" targetFramework="monoandroid60" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid60" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="monoandroid60" />
  <package id="sqlite-net" version="1.0.8" targetFramework="monoandroid60" />
  <package id="System.ComponentModel" version="4.0.0" targetFramework="monoandroid60" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="monoandroid60" />
  <package id="System.Runtime" version="4.0.20" targetFramework="monoandroid60" />
</packages>