*.nupkg
*.ps1
*.baml
sconnMobile/sconnRem.Android.Watch/obj/Debug/
sconnMobile/sconnRem.iOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/8rJ-Kc-sve-view-QS5-Rx-YEW.nib
sconnMobile/sconnRem.iOS/obj/
*.mdb
*.nib
*.class
*.java
sconnMobile/sconnRemMobile/sconnRemMobile.Droid/obj/Debug/
sconnMobile/sconnMobileForms/sconnMobileForms.Droid/obj/
sconnMobile/sconnMobileForms/sconnMobileForms.iOS/obj/iPhoneSimulator/Debug/optimized/Assets/Images/electro.png
sconnMobile/sconnMobileForms/sconnMobileForms.iOS/bin/
sconnMobile/sconnMobileForms/sconnMobileForms.iOS/obj/
