<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\iotDash-dev.mdf;Initial Catalog=iotDash-DB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <bindings>
      <netNamedPipeBinding>
          <binding name="iotPipeBinding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
            <security mode="Transport">
              <transport protectionLevel="EncryptAndSign" />
            </security>
          </binding>

      </netNamedPipeBinding>

    </bindings>

    <services>
      <service name="iotServiceProvider.iotDomainService" behaviorConfiguration="MEX">

        <endpoint address="net.pipe://localhost/iotDashShared/iotDomainService" binding="netNamedPipeBinding" bindingConfiguration="iotPipeBinding" contract="iotServiceProvider.IiotDomainService" />
        
        <endpoint address="net.pipe://localhost/iotDashShared/iotDomainService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/iotDashShared/iotDomainService" />
          </baseAddresses>
        </host>
      </service>


      <service name="iotServiceProvider.DeviceUpdateEventService" behaviorConfiguration="MEX">

        <endpoint address="net.pipe://localhost/iotDashShared/DeviceEventServicePipe" binding="netNamedPipeBinding" bindingConfiguration="iotPipeBinding" contract="iotServiceProvider.IDeviceEventService" />
        
        <endpoint address="net.pipe://localhost/iotDashShared/DeviceEventServicePipe/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/iotDashShared/DeviceEventServicePipe" />
          </baseAddresses>
        </host>
      </service>



    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="iotDomainServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

        <behavior name="MEX">
          <serviceMetadata httpGetEnabled="False" />
        </behavior>


      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

