<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IiotDomainService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/iotDashShared/iotDomainService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IiotDomainService"
                contract="iotDb.IiotDomainService" name="NetNamedPipeBinding_IiotDomainService">
                <identity>
                    <userPrincipalName value="DOMOPC\rzazo_000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>