@model iotDash.Models.AddSiteViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

@{
    if (IsPost)
    {
        string Name = Request.Form["Name"];
        
    }
 }


@Scripts.Render("~/bundles/jqueryui")


<script>

    $(function () {
        $('#addsiteform').submit(function () {
            $.ajax({
                url: '@Url.Action("New", "Site")',
                type: this.method,
                data: {
                    Name: $('#SiteName').val(),
                    LocId: $('#locationselector').val(),
                }, 
                success: function (result) {
                    $('#resultview').html(result);
                }
            });
            return false;
        });

    });

</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3>Add site. <small></small></h3>
                <br /><br />

                <form role="form" action="" method="post" id="addsiteform">

                    <div class="row">
                        <div class="form-group col-lg-12 col-sm-12 col-xs-10">
                            <label for="SiteName">Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </span>

                                <input type="text" class="form-control" name="siteinput" id="SiteName">
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="form-group col-lg-12 col-sm-12 col-xs-10">
                                <label for="locationselector">Location</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </span>
                                    <select class="form-control" id="locationselector">
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model.Locations)
                                            {
                                                <option value="@item.Id">@item.LocationName</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <br />
                            </div>
                        </div>


                    <button class="btn btn-primary" type="submit">Add</button>

                </form>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="resultview">

        </div>
    </div>

</div>


