@model iotDash.Models.AlarmSystemListModel

@*@{
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }*@

@Scripts.Render("~/bundles/jqueryui")



@if (Model != null)
{
    foreach (var dev in Model.AlarmDevices)
    {

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@dev.Type.VisualRepresentationURL" alt="">
                    <div class="caption">
                        <h3>@dev.DeviceName</h3>
                        <p>
                            <a class="btn btn-info" role="button" href="@Url.Action("Index", "AlarmSystemView", new { ServerId = dev.Id })">Details</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }

}



