@model iotDash.Models.AlarmSystemSummaryModel 

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")




<h2>Devices : </h2>

@if (Model != null)
{
  <h3>@Model.DeviceNo.ToString()</h3>

    <a class="btn btn-info" role="button"  href="@Url.Action("Index", "AlarmSystemView", new { DeviceId = Model.AlarmDevice.Id })">Details</a>

}



