
@{
    ViewBag.Title = "Settings";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<a class="ui-button" href="@Url.Action("Index", "Site")"><h3>Protocols</h3></a>

<a class="ui-button"  href="@Url.Action("AddType", "Device")"><h3>Device Types</h3></a>

