
@{
    ViewBag.Title = "About";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading text-center">Dominik Guz</h1>
                @*<p class="lead section-lead">University of Bielsko-Biala.</p>*@
            </div>
        </div>
    </div>
</section>