@{
    ViewBag.Title = "Home Page";
}

@*@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}*@

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/fullpage")
@Styles.Render("~/bundles/css/fullpage")



@*<div class="jumbotron">
    <h1>iotDash</h1>
    <p class="lead">iotDash is a free online administration tool for managing IoT devices.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@

<script>

    $(document).ready(function () {
        $('#fullpage').fullpage();
    });

</script>

<div class="row">

    <div id="fullpage">
        <div class="section">Multi protocol</div>
        <div class="section">Easy setup</div>
        <div class="section">Logic gateway</div>
    </div>

    @*<div class="col-md-4">
        <h2>Multi protocol</h2>
        <p>
            iotDash support major IoT protocols including MQTT, AllJoyn, CoAP.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy setup</h2>
        <p>Connection wizards alow for quick setup of systems.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logic gateway</h2>
        <p>Application allows for defining custom M2M event driven logic for supported protocols.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@


</div>