

<div class="bfh-selectbox bfh-languages" style="padding: 7px;" data-language="pl_PL" data-available="pl_PL,en_US,fr_CA,de_DE" data-flags="true">
    <input type="hidden" value="">
    <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
        <span class="bfh-selectbox-option input-medium" data-option=""></span>
        <b class="caret"></b>
    </a>
    <div class="bfh-selectbox-options">
        <div role="listbox">
            <ul role="option"></ul>
        </div>
    </div>
</div>