@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" >
        <li>
            <div class="btn-group" style="padding: 7px;">
          
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="userDropDown" aria-haspopup="true" aria-expanded="false">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        @HttpContext.Current.User.Identity.Name
                        <span class="caret"></span>
                    </div>
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="userDropDown">
                    <li><a href=""><i class="fa fa-pencil fa-fw"></i> Account</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-ban fa-fw"></i> Logout</a></li>
                </ul>

            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
