<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <!--<system.serviceModel>

      <bindings>
        <netNamedPipeBinding>
          <binding name="iotEventPipeBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="true" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
            <security mode="Transport">
              <transport protectionLevel="EncryptAndSign" />
            </security>
          </binding>
        </netNamedPipeBinding>
      </bindings>


      <client>
        
        <endpoint address="net.pipe://localhost/iotDashShared/iotDomainService" binding="netNamedPipeBinding" bindingConfiguration="iotEventPipeBinding" contract="iotServiceProvider.IiotDomainService" name="iotDbServiceNamedPipe" />

        <endpoint address="net.pipe://localhost/iotDashShared/DeviceEventServicePipe" binding="netNamedPipeBinding" bindingConfiguration="iotEventPipeBinding" contract="iotServiceProvider.IDeviceEventService" name="iotDeviceEventServicePipe" />

      </client>
    </system.serviceModel>-->
    
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>