
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")


@{
    ViewBag.Title = "Summary";
}

@*ProgressBar Pbbattlvl = new ProgressBar();
                        Pbbattlvl.Height = 50;
                        Pbbattlvl.Maximum = 14.8;
                        float vBackup = (float)Math.Round((double)BitConverter.ToSingle(site.siteCfg.deviceConfigs[i].memCFG, ipcDefines.mAdrBackupVolt_Start_Pos), 3);
                        battDesc.Content = battDesc.Content + vBackup.ToString();
                        Pbbattlvl.Value = vBackup;

                        TextBlock tbBattPercDesc = new TextBlock();
                        tbBattPercDesc.Text = Properties.Resources.lblInputsDesc;
                        Pbbattlvl.Tag = Pbbattlvl.Value.ToString();

                        Grid.SetRow(Pbbattlvl, 1);
                        Grid.SetColumn(Pbbattlvl, 0);
sensBattStatGrid.Children.Add(Pbbattlvl);*@

<h2>Summary</h2>

