@{
    ViewBag.Title = "Search";
}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
    <div id="wrapper">

        @RenderPage("~/Views/Shared/_DashboardTopBar.cshtml")

        @RenderPage("~/Views/Shared/_DashboardMenu.cshtml")

    </div>
    <!-- /#wrapper -->
