@{
    ViewBag.Title = "View";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div>
    <iframe src="http://192.168.1.68/axis-cgi/mjpg/video.cgi" width="300" height="300"></iframe>
</div>

