@{
    ViewBag.Title = "Settings";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-default">
    
    <div class="panel-heading">Settings</div>
    <table class="table-responsive">
        <tr>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-10">
                    <div class="col-lg-1 col-sm-2 col-xs-2">
                        <img src="~/Content/img/config1.png" class="img-responsive" alt="typeimg">
                    </div>
                    <div class="col-lg-11 col-sm-10 col-xs-10">
                        <a class="ui-button" href="@Url.Action("Index", "DeviceTypes")">
                            <h3>Device Types</h3>
                        </a>
                    </div>
                </div>
            </div>
        </tr>

        <tr>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-10">
                    <div class="col-lg-1 col-sm-2 col-xs-2">
                        <img src="~/Content/img/eye.png" class="img-responsive" alt="typeimg">
                    </div>
                    <div class="col-lg-11 col-sm-10 col-xs-10">
                        <a class="ui-button" href="@Url.Action("Index", "Users")">
                            <h3>Users</h3>
                        </a>
                    </div>
                </div>
            </div>

        </tr>

        <tr>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-10">
                    <div class="col-lg-1 col-sm-2 col-xs-2">
                        <img src="~/Content/img/electro.png" class="img-responsive" alt="typeimg">
                    </div>
                    <div class="col-lg-11 col-sm-10 col-xs-10">
                        <a class="ui-button" href="@Url.Action("View", "RoleManagment")">
                            <h3>Roles</h3>
                        </a>
                    </div>
                </div>
            </div>

        </tr>

    </table>


</div>




